.card {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
.badge-light {
    background-color: #edeeef !important
}
.search {
    border-radius: 50px !important;
}
.nav-link .link-name {
    margin-top: 5px;
    margin-left: 8px;
    position: absolute;

}
.draggable {
    position: fixed;
    width: 50px;
    height: 100%;
    z-index: 999;
}