.carousel{
    height: 800px !important;
}
.carousel-inner{
    height: 100%;
}
.carousel-inner img,.carousel-item{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.badge-light {
    background-color: #edeeef !important
}
.card {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
.draggable {
    position: fixed;
    width: 50px;
    height: 100%;
    z-index: 999;
}
@media screen and (max-width: 576px){
    .carousel{
        height: 28rem !important;
    }
    .card{
        height: 17rem;
    }
    .card-body .row, .col-6 {
        height: 100% !important;
    }
    .col-6 h1{
        font-size: 20px;
    }
    .col-6 p{
        font-size: 14px;
    }
    h3 {
        font-size: 20px
    }
}